* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'Akkurat Pro';
    src: url('AkkBd_Pro_1.eot'); /* IE9 Compat Modes */
    src: url('AkkBd_Pro_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('AkkBd_Pro_1.woff') format('woff'), /* Modern Browsers */
    url('AkkBd_Pro_1.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('AkkBd_Pro_1.svg#8e4ac6878de559e681f53263f7ebda33') format('svg'); /* Legacy iOS */
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'Akkurat Pro';
    src: url('AkkRg_Pro_1.eot'); /* IE9 Compat Modes */
    src: url('AkkRg_Pro_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('AkkRg_Pro_1.woff') format('woff'), /* Modern Browsers */
    url('AkkRg_Pro_1.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('AkkRg_Pro_1.svg#3478686034630b6bbb8f4a5751bfe071') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}


@font-face {
    font-family: 'Akkurat Light Pro';
    src: url('AkkLg_Pro_1.eot'); /* IE9 Compat Modes */
    src: url('AkkLg_Pro_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('AkkLg_Pro_1.woff') format('woff'), /* Modern Browsers */
    url('AkkLg_Pro_1.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('AkkLg_Pro_1.svg#b5c01d1b960fd3c923f4c0466bcdd227') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'Maison Neue Mono';
    src: url('Maison Neue Mono.eot'); /* IE9 Compat Modes */
    src: url('Maison Neue Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Maison Neue Mono.woff') format('woff'), /* Modern Browsers */
    url('Maison Neue Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Maison Neue Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}